<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_crm:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_crm_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring_crm/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_crm" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="application" name="struts2_lib" />
          <element id="library" level="project" name="spring4" />
          <element id="library" level="application" name="hbm_lib" />
          <element id="library" level="application" name="mysql-jstl" />
          <element id="library" level="application" name="hbm_c3p0" />
        </element>
      </element>
    </root>
  </artifact>
</component>