<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    spring 入门配置-->
    <bean id="customerService" class="com.myweb.crm.service.CustomerServiceImpl">

    </bean>
    <bean id="customerDao" class="com.myweb.crm.dao.CustomerDaoImpl" >

    </bean>

</beans>